body {
  font-family: 'LXGW WenKai', sans-serif;
}

.slidev-code-wrapper{
  width: 100%;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
}

.two-cols h2 {
  position: absolute;
  top: 0;
  /* left: 0; */
  color: #888;
  font-size: 0.875rem;
  margin: 0;
  padding: 0.5rem;
}

.section-title {
  background: linear-gradient(135deg, #1a1a1a 0%, #0a0a0a 100%);
  border: 2px solid #333;
  padding: 4rem;
  border-radius: 8px;
}

.s-click-panel {
  height: 100%;
  width: 100%;
}

.v {
  display: block;
  width: 100%;
}

.v--hidden {
  display: none !important;
}
